{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container mt-5 ">
    
    <form class= "col-6 mx-auto card p-5 shadow-lg " method= "post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Update Receipe</h2>
        <hr>
        <div class="form-group p-2">
            <label for="name">Receipe name</label>
            <input type="text" value= {{receipe.receipe_name}} name="receipe_name" class="form-control" required placeholder="Enter Receipe name">
        </div>
        <div class="form-group p-2">
            <label for="Description">Receipe Description</label>
    
            <textarea name = "receipe_description"  class="form-control" required>{{receipe.receipe_description}}</textarea>
        </div>
        <div class="form-check p-2">
            <label for="img">Receipe image</label>
            <input type="file" name= "receipe_image" value = {{receipe.receipe_image}} class="form-control" placeholder="Enter Receipe name">
        </div>
        <button type="submit" class="btn btn-success p-2">Update Receipe</button>
    </form>
    
    
</div>

{% endblock %}
